#blockScore{
    border-radius: 13px;
    box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 20%);
    max-height: 200px;
    overflow: scroll;
}
#scores {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#phaseCalc {
    display: none;
}

.number  {
    height: 80px;
    border-radius: 20px;
}

.number .item-number{
    font-size: 2rem;
    color: #64748b;
    text-shadow: 0.025rem 0rem 0 #94a3b8, 0.025rem 0.05rem 0 #0f172a, 0.05rem 0.025rem 0 #94a3b8, 0.05rem 0.07rem 0 #0f172a, 0.07rem 0.05rem 0 #94a3b8;
    line-height: 75px;
    box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 9%);
    transition: all ease 0.2s;
    background-color: #ed8936;
    border-radius: 4px;
}

.number .item-number:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

#logo-chiffre{
    font-size: 0rem;
    color:white;
    text-shadow: 1px 1px 1px #39F1C3,
    1px 2px 1px #39F1C3,
    1px 3px 1px #39F1C3,
    1px 4px 1px #39F1C3,
    1px 5px 1px #39F1C3,
    1px 6px 1px #39F1C3,
    1px 7px 1px #39F1C3,
    1px 8px 1px #39F1C3,
    1px 9px 1px #39F1C3,
    1px 10px 1px #39F1C3;
    animation: logoChiffre 1s forwards;
}

@keyframes logoChiffre {
    from {font-size: 0rem;}
    to {font-size: 6rem;}
}

#logo-string{
    font-size: 0rem;
    color:white;
    text-shadow: 1px 1px 1px #f44336,
    1px 2px 1px #f44336,
    1px 3px 1px #f44336,
    1px 4px 1px #f44336,
    1px 5px 1px #f44336,
    1px 6px 1px #f44336,
    1px 7px 1px #f44336;
    animation: logoString 1s forwards;
}

@keyframes logoString {
    from {font-size: 0rem;transform:translateY(0)}
    to {font-size: 4rem;transform: translateY(-50px)}
}

.player.selected {
    background-color: #39F1C3;
}

.player:not(:last-child){
    border-bottom: 1px solid #ccc6;
}

btn-primary-5000{
    background-color: #39F1C3;
}